*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
button {
    cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7.5rem;
}

body {
  min-height: 100%;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  min-height: 100vh;
  background-color: gray;
}

@font-face {
  font-family: 'Caveat';
  src: local('Caveat'), url(./fonts/Caveat/Caveat-Regular.ttf) format('truetype');
}
